/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #3DA8BD;
}

/* Provide sufficient contrast against white background */
a {
    color: #3DA8BD;
}

.btn-primary {
    color: #fff;
    background-color: #3DA8BD;
    border-color: #3DA8BD;
    position: absolute;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #3DA8BD;
    border-color: #3DA8BD;
}

/* Profile manager styles
-------------------------------------------------- */
.btn-save {
    background-color: #1b6ec2;
    color: white;
    float: right;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}


.card{
  width: 80%;
  height: 20%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #F6ECEF;
}
.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.StartContainer {

    text-align: center;
    vertical-align: middle;
}

.HelloDarlingLogo {
    color: #F6ECEF;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
}

    .HelloDarlingLogo:hover {
        text-decoration: none;
        color: #F6ECEF;
    }


#mySidenav a {
    position: absolute;
    left: -160px;
    padding: 15px;
    width: 230px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 10px 10px 0;
    color: transparent;
    border: 0.5px solid #2E3232;
    transition: 1s;
    font-family: 'Lobster', cursive;
    z-index: 1;
}

    #mySidenav a:hover {
        left: 0;
        color: #F6ECEF;
        
    }
/*
#Home {
    top: 130px;
    background-color: #3DA8BD;
    color: #F6ECEF;
}*/

#Profile {
    top: 130px;
    background-color: #3DA8BD;
    color: #F6ECEF;
}

#Candidate {
    top: 205px;
    background-color: #3DA8BD;
    color: #F6ECEF;
}

#Relationship {
    top: 280px;
    background-color: #3DA8BD;
    color: #F6ECEF;
}

#Settings {
    top: 355px;
    background-color: #3DA8BD;
    color: #F6ECEF;
}

a img {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
}