@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email bekräftat";
}

<h4>Din konto är nu skapats. Vänligen logga in med dina användaruppgifter. </h4>


<a type="button" class="btn btn-info" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
