@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="ProfileModels" title="Manage"> @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light">Logga ut</button>
            </form>
        </li>

        <li id="mySidenav" class="sidenav">
            <a asp-area="" asp-controller="ProfileModels" asp-action="Index" id="Profile">
                Profil<img src="/image/Profil.png" />
            </a>
            <a id="Candidate">
                Sök Match<img src="/image/Find match.png" />
            </a>
            <a asp-area="" asp-controller="" asp-action="" id="Relationship">
                Matchningar<img src="/image/Match.png" />
            </a>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" id="Settings">
                Inställningar<img src="/image/Settings.png" />
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Skapa konto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
        </li>
    }
</ul>
