@{
    ViewData["Title"] = "Home Page";

}



@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


@if (SignInManager.IsSignedIn(User))
{

}
else
{



    @*<div>

            <a class="nav-link" href='/Identity/Account/Login'>
                Logga in
            </a>

        </div>*@


}




